[Desktop Entry]
Type=Application
Name=Workset
Comment=Gestiona perfiles de escritorio multi-DE
Exec=workset-picker
Icon=io.jebstudios.Workset
Terminal=false
Categories=Settings;Utility;
StartupNotify=true
StartupWMClass=io.jebstudios.Workset
Keywords=workset;workspace;profile;desktop;
